@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    box-sizing: border-box;
}

body {
    background: #E5E5E5;
    height: auto; 
}

.logo-alura {
    margin-left: 10px;
    padding-top: 10px;
    width: 3%;
}

main {
    display: flex;
    justify-content: space-around; 

}

/* CONTAINNER-1 */

.container-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.text-area {
    background: #E5E5E5;
    border: none;
    color:#0A3871;
    margin-top: 90px;
    text-transform: lowercase;
}

::placeholder { color:#0A3871; }
    .text-area:focus {
        outline: none;
    }


.informação {
    display: flex;
}

.img-info {
    margin-right: 15px;
}

.informação h6 {
    font-size: 18px;
    color: #495057;
    opacity: 0.8;
}

.botoes {
    display: flex;
    margin-top: 18px;
}

.btn-encriptar {
    width: 328px;
    height: 67px;
    background: #0A3871;
    margin-right: 25px;
    border-radius: 24px;
    box-sizing: border-box;

    font-size: 22px;
    line-height: 19px;
    color: #FFFFFF;
}

.btn-encriptar:hover {
    background: #124b91;
}

.btn-encriptar:active {
    background: #082a55;
}

.btn-desencriptar {
    width: 328px;
    height: 67px;
    background: #ffff;
    border: 1px solid #0A3871;
    border-radius: 24px;
    box-sizing: border-box;

    font-size: 22px;
    line-height: 19px;
    color: #0A3871;
}

.btn-desencriptar:hover {
    background: #f7f4f4;
}

.btn-desencriptar:active {
    background: #D8DFE8;
}

/* CONTAINNER-2*/

.container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 720px;
    width: 30%;
    background: #ffffff;
    border-radius: 24px;
    margin-bottom: 50px;
    
}
.mensagem {
    margin-top: 30px;
    background-image: url(../img/High\ quality\ products\ 1\ 1img1.svg);
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    padding-left: 20px;
    
    
}

.mensagem:focus {
    outline: none;
}

.text-container-2 {
    margin: 60px 45px 15px;
    text-align: center;
    padding: 15px 10px;
}

.text-container-2 h2 {
    font-weight: 700;
    font-size: 29px;
    line-height: 120%;
    color: #343A40;
    margin-bottom: 10px;
}

.text-container-2 p {
    font-size: 19px;
    line-height: 150%;
    color: #495057;
}

.btn-copiar {
    width: 336px;
    height: 67px;
    background: #ffff;
    border: 1px solid #0A3871;
    border-radius: 24px;
    box-sizing: border-box;
    margin-top: 140px;
    display: none;

    font-size: 22px;
    line-height: 19px;
    color: #0A3871;
}

.btn-copiar:hover {
    background: #f7f4f4;
}

.btn-copiar:active {
    background: #D8DFE8;
}

footer {
    background: #06258b;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #ffffff;
    font-size: 18px;
    font-weight: bold;

    border-radius: 15px 15px 0 0;
}